<mat-card>
  <mat-card-title>Product list</mat-card-title>
  <mat-card-content>
    <mat-list role="list"
              *ngIf="list$ | async as products; else loading">
      <ng-container *ngIf="products.length > 0;else empty">
        <mat-list-item role="listitem"
                       *ngFor="let item of products">{{item.title}} {{item.price}}
        </mat-list-item>
      </ng-container>
    </mat-list>

    <ng-template #empty>
      There is no data!
    </ng-template>

    <ng-template #loading>
      <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
    </ng-template>

  </mat-card-content>
</mat-card>
